---
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
  empty-lines:
    max: 2
    level: error
  hyphens:
    level: error
  key-duplicates: enable
  new-lines:
    type: unix
